{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    {% if websites %}
        {% for website in websites %}
            <div class="border rounded-3 align-items-center row p-3 my-4">
                <h5 class="col-10">{{website}}</h5>
                <h6 class="col-1">{{website.details.count}} user{{website.details.count|pluralize}}</h6>
                
                <button class="btn btn-primary col-1 more_less" data-bs-toggle="collapse"
                data-bs-target="#c{{website.id}}" role="button" aria-expanded="false" aria-controls="c{{website.id}}">view</button>
                <!-- <a href="" class="btn btn-danger col-1">delete</a> -->

                {% with details=website.details.all %}
                {% for detail in details %}
                    <div class="collapse mt-3" id="c{{website.id}}">
                        <div class="card card-body">
                                    <p>username: <i><b>{{detail.username}}</b></i></p>
                                    <p>password: <i><b>{{detail.password}}</b></i></p>
                        </div>
                    </div>
                {% endfor %}
                {% endwith %}
            </div>
        {% endfor %}

{% else %}
        <div class="container justify-content-center">
            <h1 class="text-center m-auto">No Sites Available!</h1>
            <img src="{% static 'images/waves.png' %}" class="w-50 h-50 my-2 img-fluid">
            <div>
                <a class="btn btn-lg btn-warning rounded-pill" href="{% url 'manager:add_password' %}">Add Details +</a>
            </div>
        </div>
{% endif %}
</div>

{% endblock %}