{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container-md mt-5">
    {% if websites %}
        {% if user.first_name %}
            <h1 class="display-6">Welcome {{user.first_name.capitalize}},</h1>
        {% else %}
            <h1 class="display-6"><b><i>{{user.username}}</i></b> <span style="color: gray;">dashboard</span></h1>
        {% endif %}

        {% for website in websites %}
            {% if website.details.count > 0 %}
                <div class="row border border-2 align-items-center rounded-3 my-4 p-3">
                    <h6 class="col-lg-8 col-md-8 col-sm-8">{{website}}</h6>
                    <h6 class="col-lg-2 col-md-2 col-sm-2">{{website.details.count}}</h6> <!-- d-lg-block d-md-block d-sm-none -->
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <button class="btn btn-primary more_less w-100" data-bs-toggle="collapse"
                        data-bs-target="#c{{website.id}}" role="button" aria-expanded="false" aria-controls="c{{website.id}}">view</button>
                    </div>

                    {% with details=website.details.all %}
                    {% for detail in details %}
                        <div class="collapse mt-3" id="c{{website.id}}">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-12">
                                        <p>username: <i><b>{{detail.username}}</b></i></p>
                                        <p>password: <i><b>{{detail.password}}</b></i></p>
                                    </div>

                                    <div class="col-lg-2 col-sm-12 my-2">
                                        <a href="" class="btn btn-outline-dark w-100">Edit</a>
                                    </div>

                                    <div class="col-lg-2 col-sm-12 my-2">
                                        <a href="{% url 'manager:delete_password' detail.pk %}" class="btn btn-outline-danger w-100">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endfor %}

{% else %}
        <div class="container justify-content-center">
            <h1 class="text-center m-auto">No Sites Available!</h1>
            <img src="{% static 'images/waves.png' %}" class="w-50 h-50 my-2 img-fluid">
            <div>
                <a class="btn btn-lg btn-warning rounded-pill" href="{% url 'manager:add_password' %}">Add Details +</a>
            </div>
        </div>
{% endif %}
</div>

{% endblock %}